*{
    margin: 0px;
    padding: 0px;
}


.nav-bar1{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    color: rgb(33, 61, 71);
    background-color: white;
}

.icoan1{
    padding: 3px 20px;
    background-color: rgb(62, 138, 199);
    border-radius: 50px;
    text-align: center;
}

.nav-bar2{
    background-image: linear-gradient(to top left, rgb(50, 28, 98), purple) ;
    color: white;
    display: flex;
    justify-content: space-around;
   padding: 15px 0px;
    
}

.con{
    display: flex;
    
}

.icoan2{
    padding-left: 50px;
}

.nav-bar3{
    background-image: linear-gradient(to top left, rgb(128, 224, 115), rgb(179, 213, 98)) ;
    padding-top: 5px;
    padding-bottom: 4px;
    font-size: 20px;
}

.nav-bar3 ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.nav-bar3 ul li a{
    text-decoration: none;
    
}

.nav-bar3 ul li a:hover{
    padding: 5px 7px;
    background-color: rgb(124, 70, 175);
    color: black;
    border-radius: 50px;
}

.carousel-caption{
    background-color: rgba(0,0,0,0.5);
}

.main_div1{
    height: auto;
    width: 70%;
    
    text-align: center;
    padding: 50px 0px;
    margin: auto;
    
}

.div1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

#icoan3{
    color: rgb(219, 110, 32);
}

.from1{
    border: 1px solid black;
    margin-left: 30px;
  padding-bottom: 10px;
    
}

.from1 p{
    background-color: black;
    color: white;
    padding: 20px 0px;
    font-size: 20px;
}

#submit{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 0px 20px;
}

.news{
    display: flex;
    justify-content: space-between;
}

.news_news{
    margin-left: 50px;
}


footer{
display: flex;
justify-content: space-around;
background-color: black;
color: white;
text-decoration: none;
}

.about{
    text-decoration: none;
}
@media screen and (max-width:991px){

    .nav-bar1{
        flex-wrap: wrap;
    }

    .nav-bar2{
        flex-wrap: wrap;
    }

    .con{
        flex-wrap: wrap;
    }
    
    .div1{
        flex-wrap: wrap;
    }
}